# Environments
backend_env/
ml_training_env/

# Secrets
.env
*.env

# Python cache
*.pyc
__pycache__/

# Installer
python-*.exe

# Data (Generally should not be in repo)
data/

# ML Assets (Generated, should not be in repo)
backend/urlset_ml_assets/
